.tsDataTable {
    border: 1px solid #009933;
    width:100%;      
}

.tsDataTable th{
   background-color: #4CAF50;
   color: white;
}

.tsDataTable tr:nth-child(odd){
    background-color: white;
}

.tsDataTable tr:nth-child(even){
    background-color: #99ff99;
}

.tsDataTable tr:hover {
    background-color: #009933;
}

.tsDataTable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.tsDataTable li {
    float: left;
}

.tsDataTable li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.tsDataTable li a:hover {
    background-color: #111;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 15px 25px;
  border-right: 1px solid #009933;
  border-left: 1px solid #009933;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  border-left: 1px solid #009933;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #009933;
}

.mainDiv{
	border: 1px solid #009933;
	background-color: #f2f2f2;
}

#dataContainer {
	background-color: #f2f2f2;
	border-radius: 5px;
}

html { 
  overflow-y: scroll; 
}

#dataExplanation{
	border: 1px solid #009933;
	background-color: white;
}

#mainPageText{
	font-size: 150%;
}